html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel-image {
  height: 500px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure the images cover the space while maintaining aspect ratio */
}

